@{
    ViewData["Title"] = "About";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->


<h2>What is IdeaMan?</h2>

<p>IdeaMan is a web based application where people can share business ideas, get sponsiorship, and investiment in a croud sourcing type of investiment</p>

<h2>Features</h2>

<li>As an idea creator I can create my ideas to be voted by community</li>
<li>As a community user I can Vote in interesting ideas</li>
<li>As an idea creator I can have my idea being shortlisted to investiment</li>
<li>As an investor I can Propose to invest in an idea</li>
	