@{
    ViewData["Title"] = "Idea Creator Miniapp";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>In this area, a user should be able to list all ideas and submit his/her idea</p>
<div class="row">
    <div class="col-md-3">
        <h2>Build an idea</h2>
        <img src="../images/idea-light-bulb.svg" class="img-rounded" alt="idea" width="200" height="200"/>
        <ul>
            <li>Gret help oin the idea creation process</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">IdeaCreator miniapp</a> for managing idea creation process</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a> them</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Share ideas</h2>
        <img src="../images/idea-icon-bubble.svg" class="img-rounded" alt="idea" width="200" height="200"/>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add your idea to the idea pool of the month</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Get feedback</h2>
        <img src="../images/idea-factory.svg" class="img-rounded" alt="idea" width="200" height="200"/>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Get feedback and votes</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Once in the month shortlist submit a pitch.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Get investors votes</a></li>
        </ul>
    </div>
</div>