@{
    ViewData["Title"] = "Idea Deployer Miniapp";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>In this area, an investor should be able to list all ideas and invest in one good idea</p>
<div class="row">
    <div class="col-md-4">
        <h2>Get investiment &amp Deploy</h2>
        <img src="../images/businessman-inside-bulb.svg" class="img-rounded" alt="idea" width="200" height="200"/>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Win investiment</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Deploy your idea with idea deployer miniapp</a></li>
        </ul>
    </div>
</div>