@{
    ViewData["Title"] = "Idea Creator Miniapp";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->
<div class="jumbotron">
    <h1><img src="../images/idea-light-bulb.svg" class="img-rounded" alt="idea" width="100" height="100"/> @ViewData["Title"]</h1>
    <p>This is a miniapp where users can submit and manage their ideas</p>
</div>

<style>
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
</style>
<div class="container-fluid main-container">
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create your idea and add it to the idea site pool
            </div>
            <div class="panel-body">
                <div id="myDIV" class="header">
                  <input type="text" id="ideaTitleInput" name="ideaTitle" placeholder="Idea Title..."> author <input type="text" id="ideaAuthorInput" name="ideaAuthor" placeholder="Idea Author Name...">
                  <button type="button" onclick="newIdea()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add ideal to pool
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container panel panel-default">
	<div class="row panel-body" id="ideaList">
		<!-- Div container for ideasc -->
    </div>
</div>