@{
    ViewData["Title"] = "Idea Creator Miniapp";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->
<div class="jumbotron">
    <h1><img src="../images/idea-light-bulb.svg" class="img-rounded" alt="idea" width="100" height="100"/> @ViewData["Title"]</h1>
    <p>This is a miniapp where users can submit and manage their ideas</p>
</div>

<style>
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
</style>
<div class="container-fluid main-container">
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create your idea wizzard
            </div>
            <div class="panel-body">
                <div id="myDIV" class="header">
                  <input type="text" id="ideaTitleInput" name="ideaTitle" placeholder="Idea Title..."> author <input type="text" id="ideaAuthorInput" name="ideaAuthor" placeholder="Idea Author Name...">
                  <button type="button" onclick="newIdea()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container panel panel-default">
	<div class="row panel-body" id="ideaList">
		<div class="col-sm-4">
            <h2>Idea 1</h2>
            <div class="card">
              <img src="../images/idea-light-bulb.svg" alt="Avatar" style="width:20%">
              <div class="container">
                <h4><b>Jane Doe</b></h4> 
                <p>Interior Designer</p> 
              </div>
            </div>
		</div>
        <div class="col-sm-4">
            <h2>Idea 2</h2>
            <div class="card">
              <img src="../images/idea-light-bulb.svg" alt="Avatar" style="width:20%">
              <div class="container">
                <h4><b>Jane Doe</b></h4> 
                <p>Interior Designer</p> 
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Idea 3</h2>
            <div class="card">
              <img src="../images/idea-light-bulb.svg" alt="Avatar" style="width:20%">
              <div class="container">
                <h4><b>Jane Doe</b></h4> 
                <p>Interior Designer</p> 
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Idea 4</h2>
            <div class="card">
              <img src="../images/idea-light-bulb.svg" alt="Avatar" style="width:20%">
              <div class="container">
                <h4><b>Jane Doe</b></h4> 
                <p>Interior Designer</p> 
              </div>
            </div>
        </div>
		
    </div>
</div>



<!-- Markup for a side menu for future use
    <div class="col-md-2 sidebar">
        <div class="row">
            <!-- Menu --
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu --
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Link</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse --
                </nav>

            </div>
        </div>
    </div>

 -->